<h1>Review for: {{movie.title}}</h1>

<form ng-submit="processForm()">
    <div class="form-group">
        <input type="hidden" name="mlId" ng-value="{{formData.mlId}}"/>
        <div id="rating-radio">
            <label class="radio-inline">
                <input type="radio" name="rating" id="rating1" value="1" ng-model="formData.rating"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="rating" id="rating2" value="2" ng-model="formData.rating"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="rating" id="rating3" value="3" ng-model="formData.rating"> 3
            </label>
            <label class="radio-inline">
                <input type="radio" name="rating" id="rating4" value="4" ng-model="formData.rating"> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="rating" id="rating5" value="5" ng-model="formData.rating"> 5
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="review">Review</label>
        <textarea id="review" class="form-control" rows="5" ng-model="formData.review"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>